body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  text-align: center;
}

header {
  background-color: #4B306D;
  color: white;
  padding: 10px 20px;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #4B306D;
  border-radius: 5px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 10px;
  cursor: pointer;
  color: white;
}

.menu ul li:hover {
  background-color: #8A73B9;
}

.form-container, .items-container {
  margin-top: 40px;
}

form {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input, form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #8A73B9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.item-card {
  background-color: #EAE6F3;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: left;
}

.item-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.item-details {
  margin-top: 10px;
}

.edit-button, .delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
}


.message {
  color: #000; 
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 5px;
  display: inline-block;
}

.message.success {
  background-color: #d4edda; 
  border: 1px solid #c3e6cb; 
}

.message.warning {
  background-color: #fff3cd; 
  border: 1px solid #ffeeba; 
}

