body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  text-align: center;
}

header {
  background-color: #4B306D;
  color: white;
  padding: 10px 20px;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #4B306D;
  border-radius: 5px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 10px;
  cursor: pointer;
  color: white;
}

.menu ul li:hover {
  background-color: #8A73B9;
}

.form-container, .items-container {
  margin-top: 40px;
}

form {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input, form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #8A73B9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.item-card {
  background-color: #EAE6F3;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: left;
}

.item-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.item-details {
  margin-top: 10px;
}




.message {
  color: #000; 
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 5px;
  display: inline-block;
}

.message.success {
  background-color: #d4edda; 
  border: 1px solid #c3e6cb; 
}

.message.warning {
  background-color: #fff3cd; 
  border: 1px solid #ffeeba; 
}




.input {
  max-width: 190px;
  height: 44px;
  background-color: #05060f0a;
  border-radius: .5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.label {
  display: block;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.input-group:hover .label, .input:focus {
  color: #05060fc2;
}



.button {
  background: linear-gradient(140.14deg, #490243 15.05%, #380434 114.99%)
  padding-box,
  linear-gradient(142.51deg, #52074b 8.65%, #360532 88.82%) border-box;
  border-radius: 7px;
  border: 2px solid transparent;

  text-shadow: 1px 1px 1px #00000040;
  box-shadow: 8px 8px 20px 0px #45090059;

  padding: 10px 40px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.button:hover {
  box-shadow: none;
  opacity: 80%;
}


/* From Uiverse.io by vinodjangid07 */ 
.button-delete {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.button-delete:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.button-delete:hover .svgIcon {
  width: 50px;
  transition-duration: .3s;
  transform: translateY(60%);
}

.button-delete::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.button-delete:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}

